@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  transform-origin: 0%;
}

.dark .css-10d9dml-MuiTabs-indicator,
.dark .css-1aquho2-MuiTabs-indicator {
  background-color: #2dd4bf;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #0d9488;
}
.css-10d9dml-MuiTabs-indicator,
.css-1aquho2-MuiTabs-indicator {
  background-color: #0d9488;
}
.dark .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.dark .css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #2dd4bf;
}

.dark .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.dark .css-1ujykiq-MuiButtonBase-root-MuiTab-root {
  color: #8892af;
}

.css-1ingggc {
  height: auto !important;
}
@media (max-width: 601px) {
  .css-1ingggc {
    display: block !important;
  }
  .css-19kzrtu {
    padding: 24px 0px;
  }
}

.dark .css-1q2h7u5.Mui-selected,
.dark .css-251er.Mui-selected {
  color: #2dd4bf;
}
.dark .css-1q2h7u5,
.dark .css-251er {
  color: #8892af;
}

.dark .css-7ozjwe,
.dark .css-ttwr4n {
  background-color: #2dd4bf;
}

.light .css-1q2h7u5.Mui-selected,
.light .css-251er.Mui-selected {
  color: #0d9488 !important;
}

.light .css-7ozjwe,
.light .css-ttwr4n {
  background-color: #0d9488 !important;
}
