@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  transform-origin: 0%;
}

.dark .css-10d9dml-MuiTabs-indicator,
.dark .css-1aquho2-MuiTabs-indicator {
  background-color: #2dd4bf;
}

.dark .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.dark .css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #2dd4bf;
}

.dark .css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.dark .css-1ujykiq-MuiButtonBase-root-MuiTab-root {
  color: #8892af;
}

@media (max-width: 601px) {
  .css-1ingggc {
    display: block;
  }
}
